<div class="brand-area pt-100 pb-100">
            <div class="container">
                <div class="row wow fadeInUp">
                    <div class="col-12">
                        <div class="swiper-container brand-active">
                            <div class="swiper-wrapper">
							{% for row in rows %}
                                <div class="swiper-slide">
                                    <div class="single-brand">
                                        <a href="#"><img src="{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_img }}'] }}" alt=""></a>
                                        <a href="#"><img src="{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_img }}'] }}" alt=""></a>
                                    </div>
                                </div>
								{% endfor %}
                            </div>
							
                        </div>
                    </div>
                </div>
            </div>
        </div>